:root {
    --color-main: #6c182d;
    --color-gray: #cdcdcd;
}

.header {
    background-color: var(--color-gray);
        
        .header__container {
            max-width: 900px;
            margin: 0 auto;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

                .header__logo {
                    max-width: 90px;

                }
                
                .navbar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                        
                        .navbar__item {
                            color: var(--color-main);
                            font-size: 1rem;
                            font-weight: 600;
                            text-decoration: none;
                        }
                }
        }
        
}
